<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title> notatker </title>
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('node_modules/jquery-ui/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('css/notatker.css') }}">
        <script src="{{ asset('node_modules/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('node_modules/jquery-ui/jquery-ui.js') }}"></script>
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
        <script src="/js/base.js"></script>
    </head>

    <body>
        {% block body %}
            {{ render(controller("AppBundle:Default:header")) }}

            <div class="row">
                <div class="col-sm-2 sidebar" id="sideBar">
                    {{ render(controller("AppBundle:Default:sideBar")) }}
                </div>

                <div class="col-sm-8" id="content">
                    {% block content %}{% endblock %}
                </div>

                <div class="col-sm-2">

                </div>
            </div>
        {% endblock %}
    </body>
</html>