<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Notatker <3</a>
            </div>
            <ul class="nav navbar-nav">

                <li><a href="/">Home</a></li>
                {% if app.user %}
                    <li><a href="#">subjects</a></li>
                    <li><a href="/profile">profile {{ app.user.username }} </a></li>
                {% else %}
                    <form class="navbar-form navbar-left" action="{{ path('login') }}" method="post">
                        <div class="form-group ">
                            <input type="text" name="_username" class="form-control-sm" placeholder="login">
                        </div>
                        <div class="form-group ">
                            <input type="password" name="_password" class="form-control-sm" placeholder="password">
                        </div>
                        <button type="submit" class="btn-sm btn-default">login</button>
                    </form>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-user"></span> log out</a></li>
                {% else %}
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>