<h3> Subjects s5 </h3>
<div class="panel-group">
    {% for subject in subjects %}
        <div class="panel panel-success">
            <div class="panel-heading" href="#{{ subject.name }}" data-toggle="collapse" ondblclick="window.location.href='/subject/{{ subject.name }}'">
                <span>
                    {{ subject.name }}
                    <a class="removeButton" title="remove subject" onclick="deleteSubject(event,'{{ subject.name }}')"><span class="glyphicon glyphicon-remove-sign"></span>  </a>
                    <a class="addPageButton" title="add page" onclick="addPage(event,'{{ subject.name }}')"><span class="glyphicon glyphicon-plus-sign"></span>  </a>
                </span>
            </div>
            <div class="panel-body collapse" id="{{ subject.name }}">
                <ul class="list-group">
                    {% for page in subject.pages %}
                        <li class="list-group-item">
                            <a href="/subject/{{ subject.name }}/{{ page.pageNumber }}"> {{ page.title }} </a>
                            <a class="removePageButton" title="remove subject" onclick="deleteSubjectPage(event,'{{ subject.name }}','{{ page.pageNumber }}')"><span class="glyphicon glyphicon-remove-sign"></span>  </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

    <br/>

    <div class="panel panel-warning">
        <div class="panel-heading" href="#newSubject" data-toggle="collapse"> new Subject </div>
        <div class="panel-body collapse" id="newSubject">
            <form action="/subject/newSubject" method="post">
                <p> name:
                    <input type="text" name="name" />
                </p>
                <input type="submit" value="add" />
            </form>
        </div>
    </div>
</div>