{% extends "templates/base.html.twig" %}

{% block content %}
    {% include 'profile/profileBar.html.twig' %}
    {% for user in users %}
        <p>
            id: {{ user.id }}, username: {{ user.username }}
        </p>
    {% endfor %}
{% endblock %}