{% extends "templates/base.html.twig" %}

{% block content %}
    <h2> register new user </h2>

    <form action="/auth/register" method="POST">
        <p> login:
            <input type="text" name="login" />
        </p>
        <p> password:
            <input type="text" name="password" />
        </p>
        <input type="submit" value="register" />
    </form>
{% endblock %}
