/* ----------- general ------------ */
html, body {
    height: 100%;
}

body {
    padding-top: 50px;    /* important nav-bar */
    padding-left: 15px;
    background-color: bisque;
    margin: 0;
}

.row {
    margin-right: 0;
}


/* ----------- sideBar ------------ */
#sideBar {
    background-color: #333;
    height: 100%;
    position: fixed;
}

#sideBar h3 {
    color: #985f0d;
    text-align: center;
}

#sideBar .panel-heading a {
    margin-left: 3px;
    float: right;
    display: none;
}

#sideBar .removePageButton {
    margin-left: 3px;
    float: right;
    display: none;
}

.panel-body {
    padding: 0;
}

.list-group {
    margin-bottom: 0;
}


/* ----------- content ------------ */
#content {
    margin-left: 16.666666%;
    overflow-y: auto;
}

#content embed {
    width: 100%;
    height: 100%;
}

#content h2, p, form {
    margin-left: 10px;
    margin-right: 10px;
}

#content form {
    padding: 1px;
    border: solid;
    border-radius: 5px;
    width: 25%;
}

/* ----------- footer ------------ */


